{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Agent creation</h1>

{#    {{ form(form) }}#}
{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('agent') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
