{% set active=4 %}
{% extends 'trrsywxBundle:Default:index.html.twig' %} 

{% block title %}<title>RSYWX | Contact Me</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>Contact Me</h3>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;Email: <a href="mailto:taylor.ren@gmail.com">taylor.ren@gmail.com</a></small><br>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;Google+: <a href="https://plus.google.com/104594155170280745414/posts">taylor.ren@gmail.com</a></small><br>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;Facebook: <a href="https://www.facebook.com/taylor.ren">taylor.ren</a></small><br>
        <small><img src="http://avatar4.fanfou.com/l0/00/3q/c9.jpg?1325726281" width="32" height="32">&nbsp;Fanfou: <a href="http://fanfou.com/%E6%93%8E%E5%A4%A9%E4%B8%80%E6%9F%B1">Shenshang</a></small><br>
        <small><img src="http://tp2.sinaimg.cn/1785605641/180/5620693744/1" width="32" height="32">&nbsp;Sina Weibo: <a href="http://weibo.com/1785605641/profile?topnav=1&wvr=5">Old Peter's Dad</a></small><br>
        
    </div>
</div>
<hr class="featurette-divider">
{% endblock %}
