<div class="container marketing">
    <footer>
        <p class="pull-right"><a href="/">RSYWX</a>, V5.0，1989 - {{"now"|date('Y')}}</p>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.zh"><img alt="CC" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a><br />Unless otherwise explicitly claimed, all contents are distributed under<a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/deed.zh">CC-BY-ND</a> license.<br/>

            Based on <a href="http://www.apache.org/">Apache 2</a> + <a href="http://www.mysql.com/">MySQL 5.0</a> + <a href="http://www.php.net/">PHP 5.3</a><br/>
            Other technology: <a href="http://www.symfony.com/">Symfony 2.3.5</a>, <a href="http://getbootstrap.com/">Bootstrap 3</a>, <a href="http://jquery.com/">jQuery 2</a><br/>
            <a href="http://validator.w3.org/check?uri=referer"><img
                    src="http://www.w3.org/Icons/valid-xhtml10-blue"
                    alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a></p>
    </footer>
</div>